html {
    font-family: 'Open Sans', sans-serif;
}

a, #yet, .message a:not(.button) {
    color: hsl(348, 100%, 61%);
    text-decoration: none;
}

a:hover, #yet:hover, .message a:not(.button):hover {
    color: hsl(348, 60%, 61%);
    text-decoration: none;
}

h1 {
    margin-top: 0.5em;
}

h3, p {
    margin-top: 1em;
}

#footer {
    margin-bottom: 0px;
    padding-top: 2em;
    padding-bottom: 2em;
}

#footer p {
    margin-top: 0;
}

.markdown-body a {
    color: #0366d6;
}

.container {
    max-width: 800px;
}

#template, #faq {
    background-color: hsl(0, 0%, 21%);
}

textarea, #rendered {
    margin: auto;
    display: block;
    width: 95%;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    font-size: 14px;
    font-family: Consolas, monaco, monospace;
    resize: none;
    outline: none;
    border: none;
}

#rendered {
    background-color: white;
}

#rendered ul {
    list-style: unset;
}

#rendered code, .message-body code {
    color: #24292e;
}

.message-header {
    padding-left: 1.25em;
}

.message-body code {
    background-color: rgba(27, 31, 35, .05);
}

article {
    max-width: 600px;
    margin: auto;
}
