@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
html {
    font-family: 'Open Sans', sans-serif;
}

/* stylelint-disable no-descending-specificity */

a,
#yet,
.message a:not(.button):not(.tag) {
    color: hsl(348, 100%, 61%);
    text-decoration: none;
}
.beauty-bar {
    padding-left: -40em;
    padding-right: -40em;
}

a:hover,
#yet:hover,
.message a:not(.button):hover {
    color: hsl(348, 60%, 61%);
    text-decoration: none;
}

.markdown-body a {
    color: #0366d6;
}

/* stylelint-enable */

h1 {
    margin-top: 0.5em;
}

h3,
p {
    margin-top: 1em;
}

#codefund {
    padding-top: 10px;
    padding-bottom: 10px;
}

#ad-separator {
    border-bottom: 2px solid hsl(0, 0%, 90%);
}

#footer {
    margin-bottom: 0px;
    padding-top: 2em;
    padding-bottom: 2em;
}

#footer p {
    margin-top: 0;
}

.container {
    max-width: 800px;
}

#template,
#faq {
    background-color: hsl(0, 0%, 21%);
}

textarea,
#rendered {
    margin: auto;
    display: block;
    width: 95%;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    font-size: 14px;
    font-family: Consolas, monaco, monospace;
    resize: none;
    outline: none;
    border: none;
}

#rendered {
    background-color: white;
}

#rendered ul {
    list-style: unset;
}

.message-body code {
    background-color: rgba(27, 31, 35, 0.05);
}

.fira-code {
    font-family: 'Fira Code', monospace;
}

.message-body code,
#rendered code {
    color: #24292e;
}

.message-header {
    padding-left: 1.25em;
}

article {
    max-width: 600px;
    margin: auto;
}
