html {
    font-family: 'Open Sans', sans-serif;
}

/* stylelint-disable no-descending-specificity */

a,
#yet,
.message a:not(.button):not(.tag) {
    color: hsl(348, 100%, 61%);
    text-decoration: none;
}

a:hover,
#yet:hover,
.message a:not(.button):hover {
    color: hsl(348, 60%, 61%);
    text-decoration: none;
}

.markdown-body a {
    color: #0366d6;
}

/* stylelint-enable */

h1 {
    margin-top: 0.5em;
}

h3,
p {
    margin-top: 1em;
}

#footer {
    margin-bottom: 0px;
    padding-top: 2em;
    padding-bottom: 2em;
}

#footer p {
    margin-top: 0;
}

.container {
    max-width: 800px;
}

#template,
#faq {
    background-color: hsl(0, 0%, 21%);
}

textarea,
#rendered {
    margin: auto;
    display: block;
    width: 95%;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    font-size: 14px;
    font-family: Consolas, monaco, monospace;
    resize: none;
    outline: none;
    border: none;
}

#rendered {
    background-color: white;
}

#rendered ul {
    list-style: unset;
}

.message-body code {
    background-color: rgba(27, 31, 35, 0.05);
}

.message-body code,
#rendered code {
    color: #24292e;
}

.message-header {
    padding-left: 1.25em;
}

article {
    max-width: 600px;
    margin: auto;
}

#sponsor-separator {
    border-bottom: 2px solid hsl(0, 0%, 90%);
}

#sponsor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 1em;
    line-height: 1.5;
    font-size: 0.8em;
    max-width: 480px;
}

#sponsor span {
    position: relative;
    display: block;
    overflow: hidden;
}

.sponsor-img {
    float: left;
    margin-right: 10px;
}

.sponsor-img img {
    display: block;
    max-width: 130px;
}

.sponsor-message {
    max-width: calc(100% - 130px - 1em);
}

.sponsor-disclaimer {
    color: grey;
    position: absolute;
    left: calc(130px + 10px);
    bottom: 0;
    line-height: 120%;
}

@media screen and (max-width: 405px) {
    .sponsor-message {
        font-size: 3.3vw;
        line-height: 120%;
    }

    .sponsor-disclaimer {
        font-size: 2.8vw;
    }
}
